BordADA.xcodeproj/project.xcworkspace/xcuserdata/afonsorekbaim.xcuserdatad/UserInterfaceState.xcuserstate
BordADA.xcodeproj/project.xcworkspace/xcuserdata/andrewozniack.xcuserdatad/
UserInterfaceState.xcuserstate
Config.xcconfig
GoogleService-Info.plist
