<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMJlbUsOxubUWq6azoWABl3QHu5aaaCe8</string>
	<key>GCM_SENDER_ID</key>
	<string>639563234779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>academy.dev.pucpr.BoardzADA</string>
	<key>PROJECT_ID</key>
	<string>boadada-df39d</string>
	<key>STORAGE_BUCKET</key>
	<string>boadada-df39d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639563234779:ios:ef108d9f2dff16344e7bfe</string>
</dict>
</plist>
